<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Categorylist</servlet-name>
        <servlet-class>controller.CategoryList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>controller.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signin</servlet-name>
        <servlet-class>controller.AccountLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>controller.AccountSignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileAcc</servlet-name>
        <servlet-class>controller.AccountProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>controller.EditInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buy</servlet-name>
        <servlet-class>controller.BuyProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>amount</servlet-name>
        <servlet-class>controller.AmountProductInCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>controller.DetailProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageProduct</servlet-name>
        <servlet-class>controller.ManageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>controller.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>controller.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createProduct</servlet-name>
        <servlet-class>controller.CreateNewProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>controller.removeProCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>controller.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup_Temporary</servlet-name>
        <servlet-class>controller.signUpTemporary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accAllorder</servlet-name>
        <servlet-class>controller.AccountProfileAllOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancel_op</servlet-name>
        <servlet-class>controller.Cancel_Order_Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenewPass</servlet-name>
        <servlet-class>controller.Renew_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>order-ad</servlet-name>
        <servlet-class>controller.Order_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filterX</servlet-name>
        <servlet-class>controller.Filter_X</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Categorylist</servlet-name>
        <url-pattern>/CategoryList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signin</servlet-name>
        <url-pattern>/account/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/account/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileAcc</servlet-name>
        <url-pattern>/account/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/account/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>amount</servlet-name>
        <url-pattern>/amount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageProduct</servlet-name>
        <url-pattern>/manage_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/edit_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/delete_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createProduct</servlet-name>
        <url-pattern>/create-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup_Temporary</servlet-name>
        <url-pattern>/signup_temporary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accAllorder</servlet-name>
        <url-pattern>/account/allorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancel_op</servlet-name>
        <url-pattern>/cancel_op</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenewPass</servlet-name>
        <url-pattern>/renew_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>order-ad</servlet-name>
        <url-pattern>/order_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filterX</servlet-name>
        <url-pattern>/filterx</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <error-page>
        <error-code>404</error-code>
        <location>/Error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Error.jsp</location>
    </error-page>-->
</web-app>
